* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Inter;
    font-style: normal;
}

/* Navigation */

.nav-container {
    background: #FFFFFF;
    height: 91px;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 91px;
}

nav ul {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 36px;
}

.nav-itmes li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #000000;
    font-size: 28.43px;
    font-weight: 600;
    font-family: Inter;
    text-decoration: none;
}

/* Header */

.header-container {
    background: #FFFFFF;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 50.52px;
line-height: 61px;
color: #000000;
margin-bottom: 24px;
}

header p {
font-family: Epilogue;
font-style: normal;
font-weight: normal;
font-size: 37.9px;
line-height: 39px;
width: 753px;
color: #000000;
margin-bottom: 48px;
}

header a {
    font-size: 21.33px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
    background: #000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
}

header a:hover {
    transform: translateY(-8px);
}

/* Skill Icons */

.skill-icons a {
    margin: 0 24px;
}

.skill-icons a:nth-last-of-type(1) {
    margin-left: 0;
}

.skill-icons {
    display: flex;
    align-items: center;
}

/* Casestudy Cards */

.heading {
    color: black;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 50.52px;
    padding: 50px;
}

.card-container {
    display: flex;
    width: 1140px;
    height: 500px;
    margin: 80px auto;
    background-color: black;
}

.card-container h2 {
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 37.9px;
    padding: 20px;
}

.card-container p {
    color: white;
    font-family: Epilogue;
    font-style: normal;
    font-weight: normal;
    font-size: 28.43px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.card-container a {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 21.33px;
    color: white;
    width: 300px;
    height: 62px;
    background: #000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    padding: 15px 50px;
}

.image-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .image-wrapper img {
    width: 100%;
} */

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

